<template>
  <ul class="list-group">
    <template v-for="server in servers">
      <servers-list-item
        :class="{active: checkSelectedServer(server)}"
        :server="server"
        @click.native="itemServerClicked(server)">
      </servers-list-item>
    </template>
  </ul>
</template>

<script>
  import ServerListItem from './ServersList/ServerListItem.vue';

  export default {
    name: 'servers-list',
    components: {
      'servers-list-item': ServerListItem
    },
    props: ['servers', 'selectedServer'],
    methods: {
      itemServerClicked(server) {
        this.$emit('itemServerWasClicked', server);
      },
      checkSelectedServer(server) {
        return server === this.selectedServer;
      }
    },
  };
</script>

<style scoped>

</style>