<template>
    <div class="server-detail">
      <p>Server ID: {{ server.id }}</p>
      <p>Server status: {{ server.status }}</p>
    </div>
</template>

<script>
  export default {
    name: 'server-details',
    props: ['server']
  }
</script>