<template>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <servers-list :servers="servers" :selectedServer="selectedServer" @itemServerWasClicked="changeSelectedServer($event)"></servers-list>
    </div>
    <div class="col-xs-12 col-sm-6">
      <server-details :server="selectedServer"></server-details>
    </div>
  </div>
</template>

<script>
  import ServersList from './AppContainer/ServersList.vue';
  import ServerDetails from './AppContainer/ServerDetails.vue';

  export default {
    name: 'app-container',
    data() {
      let servers_list = [
        {id: 1, status: 'Normal'},
        {id: 2, status: 'Critical'},
        {id: 3, status: 'Unknown'},
        {id: 4, status: 'Down'},
      ];

      return {
        servers: servers_list,
        selectedServer: servers_list[0]
      }
    },
    methods: {
      changeSelectedServer(server) {
        this.selectedServer = server;
      }
    },
    components: {
      'servers-list': ServersList,
      'server-details': ServerDetails
    }
  };
</script>