<template>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>{{ footerMessage }}</p>
      </footer>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app-footer',
    data() {
      return {
        footerMessage: 'All Servers are managed here'
      }
    }
  }
</script>