<template>
  <div class="row">
    <div class="col-xs-12">
      <header>
        <h1>{{ headerMessage }}</h1>
      </header>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app-header',
    data() {
      return {
        headerMessage: 'Server Status'
      }
    }
  }
</script>