<template>
  <div class="container">
    <app-header></app-header>
    <hr>
    <app-container></app-container>
    <hr>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import AppHeader from './components/AppHeader.vue';
  import AppContainer from './components/AppContainer.vue';
  import AppFooter from './components/AppFooter.vue';

  export default {
    components: {
      // Convention name of tag: {parent_name}-{component_name}
      // Convention name of File and Variable: {Parent_name}{Component_name}
      'app-header': AppHeader,
      'app-container': AppContainer,
      'app-footer': AppFooter
    }
  }
</script>

<style scoped>

</style>
